<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dinesh.ddflash" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DDFlash</name>
    <description>
        An Simple Cordova Torch App.
    </description>
    <author email="dineshkumar.r@cgvakindia.com" href="http://cordova.io">
        Dinesh Raja
    </author>
    <content src="index.html" />
    <access origin="*" />

    <!--Plugins
    <gap:plugin name="nl.x-services.plugins.flashlight" version="2.0.0" />-->
</widget>
